@import "tailwindcss";

:root {
  --color-primary: #f9b800;
  --color-secondary: #262626;
  --color-page: #feedbc;
  --shadow-offset: 9px;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-page: var(--color-page);
}

@layer utilities {
  .leading-md {
    line-height: 1.7;
  }
}

body {
  background: var(--color-page);
}

.btn {
  transition: box-shadow 100ms ease-out;
}
.btn .icon {
  transform-origin: 50% 50%;
  transform-box: fill-box;
  will-change: transform;
}

.btn.primary {
  background: var(--color-primary);
  color: var(--color-secondary);
  --hover-color: var(--color-secondary);
}
.btn.secondary {
  background: var(--color-secondary);
  color: #fff;
  --hover-color: #fff;
}
.btn.light {
  background: #fff;
  color: var(--color-secondary);
  --hover-color: var(--color-primary);
}

.btn.is-hovered {
  box-shadow: var(--shadow-offset) var(--shadow-offset) 0 0 var(--hover-color);
  outline: 2px solid var(--hover-color);
}

.btn.is-hovered .icon {
  animation: arrow-bounce-in 800ms ease-out 1 forwards;
}
.btn.was-hovered:not(.is-hovered) .icon {
  animation: arrow-bounce-out 800ms ease-out 1 forwards;
}

.btn:focus-visible {
  outline: 2px solid var(--hover-color, currentColor);
}

@media (hover: hover) and (pointer: fine) {
  .btn.is-hovered .icon {
    animation: arrow-bounce-in 800ms ease-out 1 forwards;
  }
  .btn.was-hovered:not(.is-hovered) .icon {
    animation: arrow-bounce-out 800ms ease-out 1 forwards;
  }
}

@keyframes arrow-bounce-in {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(120deg);
  }
  40% {
    transform: rotate(84deg);
  }
  60% {
    transform: rotate(92deg);
  }
  80% {
    transform: rotate(89deg);
  }
  90% {
    transform: rotate(91deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes arrow-bounce-out {
  0% {
    transform: rotate(90deg);
  }
  20% {
    transform: rotate(-18deg);
  }
  40% {
    transform: rotate(6deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(3deg);
  }
  90% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* card animation */
:root {
  --card-radius: 60px; /* your card radius */
  --fill-color: #f9b800; /* overlay fill color */
  --bounce-duration: 400ms;
}

.custom-card {
  position: relative;
  overflow: hidden;
  isolation: isolate;
  border-radius: 60px;
  transition: all 100ms ease-out;
}

.custom-card > * {
  position: relative;
  z-index: 1;
}

.custom-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color-secondary);
  color: white;
  z-index: 0;
  transform-origin: 50% 100%;
  transform: scaleX(0.25) scaleY(0);
  will-change: transform, border-top-left-radius, border-top-right-radius;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
}

.custom-card.is-hovered {
  box-shadow: 0 0 172px 0 rgba(8, 8, 9, 0.32);
  color: white;
}

.custom-card.is-hovered::before {
  animation: fill-up-in var(--bounce-duration) ease-out forwards;
}

.custom-card.was-hovered:not(.is-hovered)::before {
  animation: fill-up-out var(--bounce-duration) ease-out forwards;
}

@keyframes fill-up-in {
  0% {
    transform: scaleX(1) scaleY(0);
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
  }
  40% {
    transform: scaleX(1) scaleY(1);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
  60% {
    transform: scaleX(1) scaleY(0.85);
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
  }
  80% {
    transform: scaleX(1) scaleY(1);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
  90% {
    transform: scaleX(1) scaleY(1);
    border-top-left-radius: 65px;
    border-top-right-radius: 65px;
  }
  100% {
    transform: scaleX(1) scaleY(1);
    border-top-left-radius: var(--card-radius);
    border-top-right-radius: var(--card-radius);
  }
}

@keyframes fill-up-out {
  0% {
    transform: scaleX(1) scaleY(1);
    border-top-left-radius: var(--card-radius);
    border-top-right-radius: var(--card-radius);
  }
  40% {
    transform: scaleX(1) scaleY(-0.5);
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
  }
  60% {
    transform: scaleX(1) scaleY(0.2);
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
  }
  80% {
    transform: scaleX(1) scaleY(1);
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
  }
  80% {
    transform: scaleX(1) scaleY(0.1);
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
  }
  100% {
    transform: scaleX(1) scaleY(0);
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
  }
}

/* testimonial start */
.testimonial {
  position: relative;
  overflow: hidden;
  background: #fff;
  isolation: isolate;
}
.testimonial::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/testimonial-bg.png") no-repeat center/cover;
  z-index: 0;
  transform: translateY(100%);
  will-change: transform;
}

.testimonial > * {
  position: relative;
  z-index: 1;
}

.testimonial.is-hovered {
  color: white;
  transition: all 80ms ease-out;
}

.testimonial .author {
  color: var(--color-secondary);
  transition: all 80ms ease-out;
}

.testimonial.is-hovered .author {
  color: var(--color-primary);
}

.testimonial.is-hovered::before {
  --jump: 30%;
  animation: bounce-in-smooth 800ms ease-out forwards;
}

.testimonial.was-hovered::before {
  animation: bounce-out-smooth 800ms ease-out forwards;
}

@keyframes bounce-in-smooth {
  0% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.2, 0.7, 0.3, 1);
  }
  22% {
    transform: translateY(calc(var(--jump) * -1.5));
    animation-timing-function: cubic-bezier(0.2, 0.7, 0.3, 1);
  }
  36% {
    transform: translateY(calc(var(--jump) * 0.5));
    animation-timing-function: cubic-bezier(0.2, 0.7, 0.3, 1);
  }
  48% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.2, 0.7, 0.3, 1);
  }
  62% {
    transform: translateY(calc(var(--jump) * -0.38));
    animation-timing-function: cubic-bezier(0.2, 0.7, 0.3, 1);
  }
  72% {
    transform: translateY(calc(var(--jump) * 0.08));
    animation-timing-function: cubic-bezier(0.2, 0.7, 0.3, 1);
  }
  80% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.2, 0.7, 0.3, 1);
  }
  88% {
    transform: translateY(calc(var(--jump) * -0.16));
    animation-timing-function: cubic-bezier(0.2, 0.7, 0.3, 1);
  }
  96% {
    transform: translateY(calc(var(--jump) * 0.04));
    animation-timing-function: cubic-bezier(0.2, 0.7, 0.3, 1);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-out-smooth {
  0% {
    transform: translateY(0);
  }
  18% {
    transform: translateY(110%);
  }
  34% {
    transform: translateY(90%);
  }
  50% {
    transform: translateY(105%);
  }
  68% {
    transform: translateY(95%);
  }
  100% {
    transform: translateY(100%);
  }
}

.animation-blink {
  animation: cursor-blink 0.4s linear infinite;
}

@keyframes cursor-blink {
  0%,
  10% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  90%,
  100% {
    opacity: 1;
  }
}
